.loder{
    height: 100px;
    width:100px;
    border-radius: 50%;
    border:20px solid gainsboro;
    border-top:20px solid green;
    animation-name: lodding;
    animation-duration: 1s;
    animation-iteration-count: 10;
}
@keyframes lodding{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}